
.main-title{
  background-color: rgb(211, 223, 235);
  font-size: 80px;
  display: flex;
  justify-content: center;
}

.cakes-section-title{
  font-size: 50px;
}

.cake-name {
  font-size: 1.5rem;
  color: #333;
}


/* .cake-images{
  height: 200px;
  width: 200px;
} */

.ingredients-title {
  font-weight: bold;
}

.ingredients-item {
  list-style-type: circle;
  margin-left: 1rem;
}

.price {
  color: #008CBA;
}

.rating {
  color: green;
  font-weight: bold;
}


/* Normal state */
.cake-images {
  transition: transform 0.01s ease-in-out; /* Add smooth transition */
}

/* Hover state */
.cake-images:hover {
  /* transform: translateY(-10px); /* Move the image up by 5px when hovered */
  transform: rotate(5deg);
}