
.main-title{
  background-color: rgb(211, 223, 235);
  font-size: 80px;
  display: flex;
  justify-content: center;
}

.cakes-section-title{
  font-size: 50px;
  color: rgb(70, 57, 120);
}

.cake-name {
  font-size: 1.5rem;
  color: rgb(66, 31, 75);
}

/* Normal state */
.cake-images {
  transition: transform 0.01s ease-in-out; /* Add smooth transition */
}

/* Hover state */
.cake-images:hover {
  /* transform: translateY(-10px); /* Move the image up by 5px when hovered */
  transform: rotate(5deg);
}

/* .cake-images{
  height: 200px;
  width: 200px;
} */

.ingredients-title {
  font-weight: bold;
  color: rgb(42, 14, 76);
}

.ingredients-item {
  list-style-type: circle;
  margin-left: 1rem;
  color: rgb(142, 65, 91);
}



.price {
  color: #008CBA;
}

.rating {
  color: green;
  font-weight: bold;
}

.basket-button{
  /* font-style: normal; */
  font-weight:800;
  color: rgb(141, 28, 47);
}